:root {
  font-family: serif;
  --screen-sm: theme('screens.sm');
  --screen-md: theme('screens.md');
  --screen-lg: theme('screens.lg');
  --screen-xl: theme('screens.xl');
  --screen-2xl: theme('screens.2xl');
  --color-primary-main: theme('colors.primary.main');
  --color-secondary-main: theme('colors.secondary.main');
}
